/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400');

#post-content {
  font-family: 'Roboto Slab';
  line-height: 1.6;
}

#post-content img {
  max-width: 100%;
}

#post-content h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
}

pre {
  background-color: #002b36;
  border: none;
  font-size: 11px;
}

code {
  font-size: 13px;
  font-family: Iosevka, Inconsolata, monospace !important;
}

code.hljs {
  font-family: Iosevka, Inconsolata, monospace !important;
}

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #268bd2;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion{
  color: #c82829;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f1bf25;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #eab700;
}

/* Tomorrow Green */
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #2ecec2;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #ec4c49;
}

code.hljs {
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
  margin-top: 10px;
  margin-bottom: 10 px;
  color: #dcdccc;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-string,
.hljs-operator,
.hljs-punctuation {
  color: #5ee4e0;
}
